#load{
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background:url("http://www.synergypunching.com/images/icons/preloader.svg") no-repeat center center rgba(255, 255, 255, 0.904);
  }